<ng-include src="'<%= asset_path('templates/datarows/toolbar.html') %>'"></ng-include>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody ng-repeat="point in points">
  	<tr>
      <td>{{ point.x | date: 'medium' }}</td>
      <td><div contenteditable on-change="updatePoint(point)" ng-model="point.y" style="display: inline">{{ point.y }}</div></td>
  	</tr>
  </tbody>
</table>

</div>
